@page "/Passport/Create"
@using TravelBot.Client.Contracts.Client
@using TravelBot.Client.Validators
@inject ITravelBotApiClient TravelBotApiClient;
@inject NavigationManager NavigationManager;

<PageTitle>Создание паспорта</PageTitle>

<h3>Создание паспорта</h3>

<EditForm Model="item" OnValidSubmit=""></EditForm>

@code {
	private readonly PassportCreateApiModel item = new();
	private readonly PassportCreateApiModelValidator validator = new();
	private readonly CancellationTokenSource cancellationTokenSource = new ();
	private List<PlaceApiModel> places = new();

	protected override async Task OnInitializedAsync()
	{
		places = (await TravelBotApiClient.PlaceAllAsync(cancellationTokenSource.Token))?.ToList()
				?? new List<PlaceApiModel>();
	}

	private async Task HandleSubmit()
	{
		var result = await validator.ValidateAsync(item, cancellationTokenSource.Token);

		if (result.IsValid)
		{
			await TravelBotApiClient.PassportPOSTAsync(item, cancellationTokenSource.Token);
			NavigationManager.NavigateTo("Passport");
		}
	}
}
